*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 1vw;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
section{
  display: flex;
  flex-direction: column;
  gap: 2vh;     
  width: 18%;
}
.workList{
  display: flex;
  justify-content: space-between;
}
.input-box{
  display: flex;
}
.input-box p{
  margin-top:1vh;
}
.statusBox{
  display: flex;
  gap: 15px;
}